/* General Styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
}

/* Chat List Page */
.chat-list-page {
  display: flex;
  height: 100vh;
  background-color: #f8f9fa;
  margin-top: 55px;
}
.welcome-message {
  text-align: center;
  color: #555;
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.welcome-message h2 {
  margin-bottom: 10px;
  color: #0073b1;
}

.welcome-message p {
  font-size: 1.1em;
  color: #777;
}
/* Chat List Styles */
.chat-list {
  width: 25%;
  background-color: #fff;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  padding: 20px;
  position: fixed;
  height: calc(100vh - 55px); /* Adjust height to account for margin-top */
}

.chat-list h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #0073b1;
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.chat-item:hover {
  background-color: #f1f1f1;
}

.chat-item.active {
  background-color: #e1e1e1;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.farmer-name {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 4px; /* Space between name and last message */
}

.last-message {
  font-size: 0.9em;
  color: #666;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
  max-width: 150px; /* Limit width of last message */
}

.status {
  font-size: 0.9em;
  color: #0073b1;
  margin-left: auto; /* Push status to the right */
  padding-left: 10px; /* Add spacing between last message and status */
}

.welcome-message {
  text-align: center;
  color: #555;
}

.welcome-message h2 {
  margin-bottom: 10px;
  color: #0073b1;
}

.welcome-message p {
  font-size: 1.1em;
  color: #777;
}